/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&family=Open+Sans:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Edu+NSW+ACT+Foundation:wght@400;500;600;700&family=Lobster&family=Permanent+Marker&family=Playfair+Display&family=Poppins:wght@300;400;500;600;700;800;900&family=Rubik+Iso&family=Zeyada&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', Courier, monospace;
}

html {
    font-size: 62.5%;       /* Root Size */
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: url("../images/3-3.png");
    background-size: cover;
}

/* Catalogue Head Design */
.header__catalogue {
    background: #000;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.5rem 2%; 
    z-index: 20;
}

.header__catalogue h1 {
    color: #eee;
    font-size: 4.5rem;
    font-weight: 600;
    font-family: 'Caveat';
}

.navbar a {
    color: #eee;
    margin: 1rem;
    font-size: 1.6rem;
}

/* Catalogue Section Design */
.section__catalogue {
    min-height: 70vh;
    padding: 7rem 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div__images-model {
    width: 6.5%;
    margin: 2rem;
}

.div__images-model img {
    width: 4.8vw;
    margin-top: 2rem;
    transition: .5s;
    cursor: pointer;
    border-radius: .5rem;
    box-shadow: 0 0 .4rem #000;
}

.div__images-model img:hover {
    scale: 1.25;
}

.div__catalogue {
    width: 60%;
    backdrop-filter: blur(.6rem);
    border-radius: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0 0 .7rem #000;
}

.div__description-main {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.div__image-phone-selected {
    background: #eee;
    border-radius: 1rem;
    padding: 3rem;
    margin: 3rem;
}

.div__image-phone-selected img {
    width: 12vw;
    transition: 1s;
}

.div__image-phone-selected img:hover {
    scale: 1.1;
}

.div__description-secondary {
    margin: 2rem;
    border-radius: 1rem;
    padding: 1rem;
    backdrop-filter: blur(.6rem);
}

.div__description-secondary .span__description {
    display: block;
    margin: 2rem;
    color: #eee;
    font-size: 1.2rem;
}

.div__description-secondary h2, .h2-tittle-iphone-responsive {
    color: #eee;
    font-size: 3.5rem;
    font-weight: 600;
    text-shadow: 0 0 .5rem #eee;
}

.span__description-a, a {
    color: #eee;
    font-size: 1.1rem;
    padding-top: 5rem;
    font-weight: 600;
    text-shadow: 0 0 .5rem #000;
}

.div__description-p {
    margin: 2rem;
    text-align: center;
}

.div__description-p p {
    color: #eee;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    text-shadow: 0 0 1rem #000;
}

/* More Details Section Design */
.section__more-details {
    display: block;
    overflow: auto;
    padding: 0rem 5%;
}

.section__more-details h1 {
    text-align: center;
    margin-bottom: 10rem;
    font-size: 3.5rem;
    color: #eee;
    text-shadow: 0 0 .5rem #eee;
}

.div__table {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}

table {
    border-collapse: collapse;
    background: #0e0e0e9a;
    font-size: 1.2rem;
    color: #eee;
    box-shadow: 0 0 .1rem #eee;
    border-radius: .4rem;
    backdrop-filter: blur(.6rem);
}

.div__table td {
    border-bottom: solid .1rem #4f4f4f;
    width: 70rem;
    padding: 1rem 5rem;
    text-align: center;
    font-size: 1.8rem;
}

tr:nth-child(even) {
    background: rgba(195, 189, 189, 0.1);
}

.div__table tr {
    padding: 10rem;
}

.div__table tr:hover {
    background: rgba(0, 0, 0, 0.463);
}

/* Footer Design */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2.5rem 2%;
    margin-top: 2rem;
    background: #000;
}

.footer .copy-right {
    color: #eee;
}

.footer a {
    color: aquamarine;
    font-size: 1.5rem;
    text-shadow: 0 0 1rem aquamarine;
    transition: .5s;
    padding: 0rem;
}

.footer a:hover {
    color: #eee;
    text-shadow: 0 0 1rem #eee;
}

/* Responsive Objects */
.h2-tittle-iphone-responsive {
    display: none;
    text-align: center;
    margin-top: 2rem;
}

.div__images-model-responsive {
    display: none;
    width: 8%;
    margin: 0rem 2rem 2rem 2rem;
}

.div__images-model-responsive img {
    width: 16vw;
    transition: .5s;
    cursor: pointer;
    border-radius: .5rem;
    box-shadow: 0 0 .4rem #000;
    margin: 1rem;
}

.div__images-model-responsive a {
    padding: 0rem;
}

/* Responsive Icons */
#menu-icon, #menu-icon-close {
    display: none;
    font-size: 4rem;
    color: #ffffff;
    margin: 0rem 1.2rem;
}


/* Breakpoints */
@media screen and (max-width: 1200px){
    html {
        font-size: 55%;
    }
}

@media screen and (max-width: 1024px){
    .div__catalogue {
        width: 70%;
    }

    .div__image-phone-selected img {
        width: 20vw;
    }

    .div__image-phone-selected {
        margin-left: 2rem;
        margin-right: 0rem;
    }

    .div__images-model {
        width: 8%;
    }

    .div__images-model img {
        width: 7vw;
    } 

    .div__description-secondary {
        margin-left: 1rem;
    }

    .div__description-secondary h2 {
        text-align: center;
    }
    
}

@media screen and (max-width: 900px) {
    .div__description-secondary h2 {
        font-size: 2.5rem;
    }
}

@media (max-width: 768px) {
    html{
        font-size: 50%;
    }
}

@media (max-width: 617px){
    html {
        font-size: 55%;
    }

    .div__description-main {
        display: block;
    }

    .div__image-phone-selected {
        width: 80%;
        margin: 2.5rem auto;
    }

    .div__image-phone-selected img {
        width: 55vw;
    }

    .div__catalogue {
        width: 90%;
    }

    .div__images-model {
        display: none;
    }

    .div__images-model-responsive {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; /* flex-basis: ; I´ll not use it ftm */
        width: 95%;
    }

    .div__description-secondary h2 {
        display: none;
    }

    .h2-tittle-iphone-responsive {
        display: block;
    }

    .div__description-secondary {
        text-align: center;
    }

    .div__description-secondary .span__description, .div__description-secondary a ,.div__description-p p {
        font-size: 2rem;
    }

    .div__description-p p {
        margin-bottom: 2.5rem;
    }

    /* Responsive Design */
    .navbar {
        position: absolute;        
        top: 0;
        right: 0;
        background: #000;
        height: 100vh;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        display: none;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 0;
        text-align: end;
        padding: 4rem .5rem;
    }

    .navbar.active {
        display: block;
    }

    #menu-icon-close {
        float: right;
        display: block;
        margin: 0rem 1rem 5rem 0;
    }

    #menu-icon{
        display: block;
        float: right;
        margin-bottom: 2rem;
    }

}

@media (max-width: 320px){ 
    .section__more-details h1 {
        margin-bottom: 7rem;
    }

    .div__table td {
        padding: 2rem 1rem;
        font-size: 2rem;
    }

    .div__image-phone-selected img {
        width: 50vw;
    }

    .div__images-model-responsive {
        margin: auto;
    }

    .div__images-model-responsive img {
        width: 22vw;
    }

}